## Sports Betting Model

In [9]:
# import statements

import numpy as np
import pandas as pd

from sklearn.linear_model import LassoCV
from sklearn.neural_network import MLPRegressor
from sklearn import metrics

import selenium 
from bs4 import BeautifulSoup

### Functions

In [2]:
# given type of model, returns explained variance score and mean squared error

def train_and_test_model(model_type, X_true, y_true):
    
    model = model_type().fit(X_true, y_true)
    y_pred = model.predict(X_true)
    
    # optimal return is 1, 0
    return metrics.explained_variance_score(y_true, y_pred), metrics.mean_squared_error(y_true, y_pred)

In [12]:
# returns True if bet would have hit and False otherwise

def hit(line, prediction, actual):
    
    if actual < line and prediction < line:
        return True
    elif actual > line and prediction > line:
        return True
    else:
        return False

### Load Data

In [3]:
# Load Data

from sklearn.datasets import fetch_california_housing
X, y = fetch_california_housing(return_X_y=True, as_frame=True)

In [4]:
X.head(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [5]:
y.head(5)

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: MedHouseVal, dtype: float64

### Models

In [8]:
# Train and Test Models

print(train_and_test_model(MLPRegressor, X, y))

(0.554534939760913, 0.5940318818447081)